<h1>Edit User</h1>

<!-- create a link that lets users go back to the index view -->
<p><%= link_to 'Home page', users_path %></p>

<!-- the show should direct them to their user profile. -->
<%= form_for @user, url: {action: :update} do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :emial %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.submit :submit %>
  </p>
<% end %>
