<h1>User Index</h1>


<!-- List all the users currently on the site.-->
<% @users.each do |user|%>
  <p>
    <span> <%=link_to user.first_name, user_path(user)%> </span>
    <span> <%= user.last_name%> </span>
    <span> <%= user.gender%> </span>
    <span> <%= user.email%> </span>
    <span> <%= user.age%> </span>
  </p>
<% end %>
