<h1>New Users</h1>

<!-- Create a users sign up form! -->
<%= form_for @user, url: {action: :create} do |f| %>
  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :emial %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </p>

  <p>
    <%= f.submit :submit %>
  </p>
<% end %>
