<h1>Show User</h1>

<% if @user %>
    <h1>Hello <%= @user.first_name %> <%= @user.last_name %> </h1>

    <p>You are a <%= @user.gender%> that's <%= @user.age %> years old.</p>
<% else %>
    <p>Character not found!</p>
<% end %>

<!-- Sends users to the edit page for that specific user. -->
<%= link_to 'Edit User', edit_user_path %> |
<!-- Send DELETE request to /characters/:id and add a confirmation box -->
<td><%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
