<!DOCTYPE html>
<html>
<head>
  <title>Legibate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Legibate</h1>
  <!-- Menu options -->
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <ul>
        <li><%= link_to 'Home', root_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Edit profi le', edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <li><%= link_to "My profile", current_user, :class => 'navbar-link' %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to 'Home', root_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      </ul>
    <% end %>

  <!-- Devise code for sign up -->
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
