<!-- Creating a form to render looking up stocks -->
<div id="stock-lookup">
  <h3>Search for Stocks</h3>
  <!-- This line of code calls the ajax javascript that submits the data notice the id you set! -->
  <%= form_tag search_stocks_path, remote: true, method: :get, id:   'stock-lookup-form' do %>
  <div class = "form-group row no-padding text-center col-md-12">
    <div class="col-md-10">
      <!-- this line of code is the actual search field thats entered by the users(params) and linked to the stock model. -->
      <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true,
                                                          class: 'form-control search-box input-lg' %>
    </div>
    <div class="col-md-2">
      <!-- Created a button to submit the search inquiry. -->
      <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
        <i class= "fa fa-search"></i> Look up a stock
      <% end %>
    </div>
  </div>
  <% end %>
  <!-- A Spinner that calls the spinner partial after looked_up_a_stock button is pressed -->
  <%= render 'common/spinner' %>

  <!-- if a stock is found, stock info would show -->
  <% if @stock %>
    <div id="stock-lookup-results" class="well results-block">
      <strong>Symbol:</strong> <%= @stock.ticker %>
      <strong>Name:</strong> <%= @stock.name %>
      <strong>Price:</strong> <%= @stock.price %>
      <!--  If the current user can add stocks? (set in method i user.rb model) show the link. -->
      <% if current_user.can_add_stock?(@stock.ticker) %>
        <%= link_to "Add to my Stocks", user_stocks_path(user: current_user, stock_ticker: @stock.ticker,stock_id: @stock.id ? @stock.id : ''), class: 'btn btn-xs btn-success', method: :post %>
      <% else %>
        <span class='label label-default'>
          Stock cannot be added because you have already added
          <% if !current_user.under_stock_limit? %>
          10 stocks
          <% end %>
          <% if current_user.stock_already_added?(@stock.ticker) %>
          this stock
          <% end %>
        </span>
      <% end %>
    </div>
  <% end %>
  <div id="stock-lookup-errors">
  </div>
</div>
